.MOBILE-MENU {
    height: 100px;
    padding: 10px 1rem;
    z-index: 999;
    display: flex;
    .social {
        display: flex;
        height: fit-content;
        .be,
        .mail {
            background-position-y: 4px;
        }
        li {
            display: inline-block;
            list-style: none;
        }
    }
    .menuhead {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    > div:nth-child(1) {
        background-color: rgb(27, 27, 27);
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 0rem;
        color: white;
        z-index: 99;
        padding: 1rem;
        ul li {
            list-style: none;
            padding-left: 1rem;
            padding-top: 1rem;
            a {
                color: white;
            }
        }
    }
    .HAMBURGER-ICON {
        span {
            display: block;
            width: 5ch;
            margin-top: 10px;
            height: 2px;
            background-color: rgb(174 174 174);
        }
    }
    svg {
        width: 3rem;
    }
}
.showMenuNav {
    right: -2rem;
    transition: all 1s;
    ul {
        display: flex;
        flex-direction: column;
    }
}

.hideMenuNav {
    right: -20rem;
    transition: all 1s;
}
@media (min-width: 425px) {
    .MOBILE-MENU {
        display: none;
    }
}
