$SpaceGray: #aeaeae;
$BgBlack: #0e0e0e;
$white: #fff;
$Lightgray: #d3d3d3;

@font-face {
    font-family: CLASHDISPLAYLIGHT;
    src: url(../public/Fonts/CLASHDISPLAYEXTRALIGHT.OTF);
}
@font-face {
    font-family: CLASHDISPLAYSEMIBOLD;
    src: url(../public/Fonts/CLASHDISPLAYSEMIBOLD.OTF);
}
@font-face {
    font-family: CLASHDISPLAYMEDIUM;
    src: url(../public/Fonts/CLASHDISPLAYMEDIUM.OTF);
}
main {
    padding: 0 2rem;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: CLASHDISPLAYLIGHT;
    background-color: $BgBlack;
    color: $white;
    min-height: 100vh;
    a {
        text-decoration: none;
        color: $SpaceGray;
    }
}
main {
    position: relative;
    overflow: hidden;
}

.banner {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        padding-bottom: 1.5rem;
        color: $SpaceGray;
        font-size: 3rem;
        position: relative;
        &::after {
            content: " ";
            display: block;
            width: 14rem;
            height: 14rem;
            background: url(../public/images/Animation.gif) center center no-repeat;
            background-size: 12rem;
            position: absolute;
            top: 6rem;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -5;
        }
    }
    ul {
        li {
            font-size: 1.5rem;
            list-style: none;
            font-family: CLASHDISPLAYMEDIUM;
            text-align: center;
            color: $Lightgray;
            margin-top: 5px;
        }
    }
}
.work .hHiReC {
    background-color: #8b8b8b;
}
.rec div div img {
    width: 100%;
}

@media (min-width: 425px) {
    .MOBILE-MENU {
        display: none;
    }
    .menu-theme .desktopmenu {
        display: block;
    }
}

@media (max-width: 425px) {
    .MOBILE-MENU {
        display: block;
    }
    .navbar .desktopmenu {
        display: none;
    }
    main {
        padding: 0;
    }
}
